# List method In Python and its inbuilt function

In [ ]:
# WHAT IS LIST ?
   A list is a data structure in python that is a mutable or changeble , ordered sequence of element ,
    that is the inside of a list is called an itom

In [1]:
lst=list()

In [2]:
type(lst)

list

In [11]:
lst=["shubham","manas","amlan","somnath",66,89,9,65,34]

## Append inbuilt function
  
  Append is used to add elements in the List

In [12]:
lst.append("sushree")
print(lst)

['shubham', 'manas', 'amlan', 'somnath', 66, 89, 9, 65, 34, 'sushree']

##  for creating Nasted List

In [13]:
lst.append(["sk","raja"])
print(lst)

['shubham', 'manas', 'amlan', 'somnath', 66, 89, 9, 65, 34, 'sushree', ['sk', 'raja']]

## For copy inbuilt function
 return a copy of the list

In [20]:
sk=lst.copy()
print(sk)

['shubham', 'manas', 'amlan', 'somnath', 66, 89, 9, 65, 34, 'sushree', ['sk', 'raja']]

## for Count inbuilt function
returns the number of elements with the specific value

In [23]:
sk.count("shubham")

1

## for Index inbuilt function
 add the elements of a list , to the end of the curent list

In [24]:
sk.extend(["gopal","madhu"])
print(sk)

['shubham', 'manas', 'amlan', 'somnath', 66, 89, 9, 65, 34, 'sushree', ['sk', 'raja'], 'gopal', 'madhu']

## index inbuilt function 
 returns the index of the first elements with the specified value

In [25]:
sk.index("sushree")

9

In [26]:
sk.index("madhu")

12

# Insert inbuilt Function
Adds an elements at the specified value

In [28]:
sk.insert(3,"shubham")
print(sk)

['shubham', 'manas', 'amlan', 'shubham', 'shubham', 'somnath', 66, 89, 9, 65, 34, 'sushree', ['sk', 'raja'], 'gopal', 'madhu']

In [36]:
sk

['shubham',
 'manas',
 'amlan',
 'shubham',
 'shubham',
 'somnath',
 66,
 89,
 9,
 65,
 34,
 'sushree']

## Pop Inbuilt function 
  removes the element at the specified position

In [30]:
sk.pop()

'madhu'

In [ ]:
#here if i didi not input any specific value then
the last index will be deleted 
 #if i put specific valuew then

In [38]:
sk.pop(10)

'sushree'

In [39]:
sk

['shubham', 'manas', 'amlan', 'shubham', 'shubham', 'somnath', 66, 89, 9, 65]

## remove inbuilt function
  removes the itom with specific value

In [40]:
sk

['shubham', 'manas', 'amlan', 'shubham', 'shubham', 'somnath', 66, 89, 9, 65]

In [41]:
sk.remove("somnath")
print(sk)

['shubham', 'manas', 'amlan', 'shubham', 'shubham', 66, 89, 9, 65]

In [42]:
sk.remove(66)
print(sk)

['shubham', 'manas', 'amlan', 'shubham', 'shubham', 89, 9, 65]

## sort inbuilt function
  short the list

In [47]:
sk

['amlan', 'manas', 'shubham', 'shubham', 'shubham']

In [49]:
sk.sort()
print(sk)

['amlan', 'manas', 'shubham', 'shubham', 'shubham']

In [51]:
sk1=["apple","cat","bat","eye","dog"]
type(sk1)

list

In [52]:
sk1.sort()
print(sk1)

['apple', 'bat', 'cat', 'dog', 'eye']

## reverse inbuilt function
  reverses the order of the list

In [55]:
sk.reverse()
print(sk)

['shubham', 'shubham', 'shubham', 'manas', 'amlan']

In [56]:
sk1.reverse()

In [57]:
sk1

['eye', 'dog', 'cat', 'bat', 'apple']

## clear inbuilt fiunction
  removes all the elements of the list

In [59]:
sk.clear()

In [61]:
sk

[]

In [62]:
sk1.clear()

In [63]:
sk1

[]

# THANKS HAVE A NICE DAY FROM SHUBHAM